.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.register-form{
    max-width: 400px;
      width: 60%;
    }
  
  